<!DOCTYPE html>
<html>
    <head>
        <%= require('html-loader!./layout/head-common.html')%>
        <title><%= htmlWebpackPlugin.options.title%> - happymmall电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')%>
        <%= require('html-loader!./layout/header.html')%>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a href="./index.html" class="link">MMall</a>
                    <span>></span>
                    <span class="link-text">
                        <%= htmlWebpackPlugin.options.title %>
                    </span>
                </div>
            </div>
        </div>
        <div class="confirm-wrap w">
            <div class="panel">
                <h2 class="panel-title">收货地址</h2>
                <div class="panel-body address-list">
                    <a class="address-item active" data-id="3697">
                        <div class="address-title">
                            <span class="city">杭州 浙江省</span>
                            <span class="name">(testName收)</span>
                        </div>
                        <div class="address-detail">详细地址 1222222222</div>
                        <div class="address-opera">
                            <span class="link address-update">编辑</span>
                            <span class="link address-delete">删除</span>
                        </div>
                    </a>
                    <a class="address-item" data-id="3697">
                        <div class="address-title">
                            <span class="city">杭州 浙江省</span>
                            <span class="name">(testName收)</span>
                        </div>
                        <div class="address-detail">详细地址 1222222222</div>
                        <div class="address-opera">
                            <span class="link address-update">编辑</span>
                            <span class="link address-delete">删除</span>
                        </div>
                    </a>
                    <div class="address-item add">
                        <div class="address-new">
                            <i class="fa fa-plus"></i>
                            <div class="text">使用新地址</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <h2 class="panel-title">商品清单</h2>
                <div class="panel-body order-product">
                    <table class="product-table">
                        <thead>
                            <tr>
                                <th class="cell-img">&nbsp;</th>
                                <th class="cell-info">商品描述</th>
                                <th class="cell-price">价格</th>
                                <th class="cell-count">数量</th>
                                <th class="cell-total">小计</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cell-img">
                                    <a href="./detail.html?productId=187" target="_blank">
                                        <img class="p-img" src="http://img.happymmall.com/18348301-eb04-4137-85d2-e460f18f5260.jpg" alt="外星人Alienware17C-R2859S 17.3英寸眼球追踪游戏笔记本电脑">
                                    </a>
                                </td>
                                <td class="cell-info">
                                    <a class="link p-name" href="./detail.html?productId=187" target="_blank">外星人Alienware17C-R2859S 17.3英寸眼球追踪游戏笔记本电脑</a>
                                </td>
                                <td class="cell-price">￥37298</td>
                                <td class="cell-count">x8</td>
                                <td class="cell-total">￥298384</td>
                            </tr>
                            <tr>
                                <td class="cell-img">
                                    <a href="./detail.html?productId=187" target="_blank">
                                        <img class="p-img" src="http://img.happymmall.com/18348301-eb04-4137-85d2-e460f18f5260.jpg" alt="外星人Alienware17C-R2859S 17.3英寸眼球追踪游戏笔记本电脑">
                                    </a>
                                </td>
                                <td class="cell-info">
                                    <a class="link p-name" href="./detail.html?productId=187" target="_blank">外星人Alienware17C-R2859S 17.3英寸眼球追踪游戏笔记本电脑</a>
                                </td>
                                <td class="cell-price">￥37298</td>
                                <td class="cell-count">x8</td>
                                <td class="cell-total">￥298384</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="submit-con">
                        <span>订单总价</span>
                        <span class="submit-total">￥307769</span>
                        <span class="btn order-submit">提交订单</span>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')%>
    </body>
</html>