<!DOCTYPE html>
<html>
    <head>
        <%= require('html-loader!./layout/head-common.html')%>
        <title><%= htmlWebpackPlugin.options.title%> - happymmall电商平台</title>
    </head>
    <body>
        <%= require('html-loader!./layout/nav.html')%>
        <%= require('html-loader!./layout/header.html')%>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a href="./index.html" class="link">MMall</a>
                    <span>></span>
                    <span class="link-text">
                        <%= htmlWebpackPlugin.options.title %>
                    </span>
                </div>
            </div>
        </div>
        <div class="confirm-wrap w">
            <div class="panel">
                <h2 class="panel-title">收货地址</h2>
                <div class="panel-body address-con">

                </div>
            </div>
            <div class="panel">
                <h2 class="panel-title">商品清单</h2>
                <div class="panel-body product-con">

                </div>
            </div>
        </div>
        <div class="modal-wrap">
            <div class="modal">
                <div class="modal-container">
                    <div class="modal-header">
                        <h1>使用新地址</h1>
                        <i class="fa fa-close close"></i>
                    </div>
                    <div class="modal-body">
                        <div class="form">
                            <div class="form-line">
                                <label for="receiver-name" class="label">
                                    <span class="required">*</span>收件人姓名：
                                </label>
                                <input class="form-item" id="receiver-name" placeholder="请输入收件人姓名">
                            </div>
                            <div class="form-line">
                                <label for="receiver-province" class="label">
                                    <span class="required">*</span>所在城市：
                                </label>
                                <select class="form-item" id="receiver-province">
                                    <option value="">请选择</option>
                                </select>
                                <select class="form-item" id="receiver-city">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="form-line">
                                <label for="receiver-address" class="label">
                                    <span class="required">*</span>详细地址：
                                </label>
                                <input class="form-item" id="receiver-address" placeholder="请输入详细地址">
                            </div>
                            <div class="form-line">
                                <label for="receiver-phone" class="label">
                                    <span class="required">*</span>收件人手机：
                                </label>
                                <input class="form-item" id="receiver-phone" placeholder="请输入收件人手机号">
                            </div>
                            <div class="form-line">
                                <label for="receiver-zip" class="label">
                                    邮政编码：
                                </label>
                                <input class="form-item" id="receiver-zip" placeholder="请输入邮政编码">
                            </div>
                            <div class="form-line">
                                <a class="btn address-btn">保存收获地址</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./layout/footer.html')%>
    </body>
</html>