.page-wrap {
    padding     : 30px 0;
    margin-top  : 20px;
    text-align  : center;
    background  : #fff;
}
.page-wrap .result-con {
    display     : none;
}
.page-wrap .result-con .result-title {
    color       : #555;
}
.page-wrap .result-con .result-link {
    margin-top  : 20px;
}
.page-wrap .result-con .result-link .link {
    margin      : 0px 5px;
    padding     : 5px 10px;
    border      : 1px solid #ccc;
} 
